In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import geopandas
import shapefile
from collections import Counter
from shapely.geometry import shape, Point
# To install shapely
# https://gis.stackexchange.com/questions/38899/geos-and-shapely-installation-on-windows/132743#132743
# Download wheel file for the version of python that you use.
# https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely
# cd into the location of the wheel file
# pip install wheel
# pip install name_of_wheel_file.whl



%matplotlib inline

pip install geopandas didn't work. You have to install the wheels first.
https://geoffboeing.com/2014/09/using-geopandas-windows/. Geopandas is able to read all the gis files and you can change the coordinate reference system easily from it.

Use this site to get started http://matthewrocklin.com/blog/work/2017/09/21/accelerating-geopandas-1

Foursquare data from Kaggle

In [ ]:
# # It will take a 1-2 minutes to load because of the data parser.
# raw_fs = pd.read_csv(r'.\data/dataset_TSMC2014_NYC.csv', parse_dates=['utcTimestamp'])
# # Make a coordinate tuple. This is the format that compatible with the shape file read by geopandas.
# raw_fs['coordinates'] = list(zip(raw_fs.loc[:,'longitude'], raw_fs.loc[:, 'latitude']))

# boroughs = geopandas.read_file(r'.\nyc_polygons\nyu_2451_34510.shp').to_crs({'init': 'epsg:4326'})

In [ ]:
# # Create polygon boundry objects for each borough. Needed for the function below.
# bronx = boroughs['geometry'][0]
# brooklyn = boroughs['geometry'][1]
# manhatten = boroughs['geometry'][2]
# queens = boroughs['geometry'][3]
# staten_island = boroughs['geometry'][4]



# def find_borough(coord): 
#     '''Takes coordinate point and returns which nyc borough it belongs to. The boundaries are not
#     an argument in the function so their objects must be created before the function is called.
    
#     Arguments:
#     coord -- tuple, coordinates in format (longitude, latitude).
    
#     Return -- str, the coordinated borough.'''
#     # Turn coordinate into a shapely point that can be checked if it's in a polygon.
#     point = Point(coord)
#     if bronx.contains(point) == True:
#         return 'bronx'
#     elif brooklyn.contains(point) == True:
#         return 'brooklyn'
#     elif manhatten.contains(point) == True:
#         return 'manhatten'
#     elif queens.contains(point) == True:
#         return 'queens'
#     elif staten_island.contains(point) == True:
#         return 'staten_island'
#     else:
#         return 'other'

In [ ]:
# # Create column with coordinates borough.
# raw_fs['borough'] = [find_borough(x) for x in raw_fs['coordinates']]


# # There are none's because they are in New Jersey. Take them out.
# df = raw_fs[raw_fs['borough']!='other']

# # Turn borough's column into one-hots.
# df = pd.concat([df, pd.get_dummies(df['borough'])], axis=1)

# # Make space for memory.
# del raw_fs

In [ ]:
# Save dataframe as pickle so you don't have to re-run all the code above again.
# df.to_pickle(r'.\data\cleaned_df.pkl')

In [2]:
df = pd.read_pickle(r'.\data\cleaned_df.pkl')

## Visitor Count: Number of unique user in region r at time interval t.

In [8]:
visitor_count = df.groupby([pd.TimeGrouper(key='utcTimestamp', freq='3H'), 'borough'])['userId'].nunique().unstack(level=1)
print('Number of time intervals: ', visitor_count.shape[0])
visitor_count.head()

Number of time intervals:  1593

borough              bronx  brooklyn  manhatten  queens  staten_island
utcTimestamp
2012-04-03 18:00:00    8.0      23.0       84.0    16.0            1.0
2012-04-03 21:00:00    8.0      36.0      152.0    27.0            2.0
2012-04-04 00:00:00   13.0      30.0      108.0    16.0            4.0
2012-04-04 03:00:00    4.0      20.0       32.0    13.0            1.0
2012-04-04 06:00:00    2.0       9.0        8.0     5.0            1.0

## Observation Frequency: Number of check-ins in region r and its neighborhood at        time interval t.

In [58]:
obs_freq = df.groupby([pd.TimeGrouper(key='utcTimestamp', freq='3H'), 'borough'])['userId'].count().unstack(level=1)
print('Number of time intervals: ', obs_freq.shape[0])
obs_freq.head()

Number of time intervals:  1593

borough              bronx  brooklyn  manhatten  queens  staten_island
utcTimestamp
2012-04-03 18:00:00   14.0      36.0      127.0    26.0            1.0
2012-04-03 21:00:00   10.0      57.0      232.0    41.0            4.0
2012-04-04 00:00:00   15.0      47.0      159.0    22.0            7.0
2012-04-04 03:00:00    6.0      30.0       48.0    30.0            2.0
2012-04-04 06:00:00    3.0      23.0       16.0     5.0            2.0

## Visitor entropy: Diversity of visitors in a location with respect to their visits.

In [26]:
# You have do merge the user ids total number of visits to the region and then divide the 
# 2 columns to get the probability that they will be there at that time.
test = df.groupby(['borough', pd.TimeGrouper(key='utcTimestamp', freq='3H'), 'userId']).count().iloc[:,0]
test.head()

borough  utcTimestamp         userId
bronx    2012-04-03 18:00:00  267       3
                              445       2
                              562       3
                              573       1
                              620       1
Name: venueId, dtype: int64

In [27]:
# number of checkins per user
test2 =df.groupby(['userId']).count().iloc[:,0]
test2.head()

userId
1    106
2    150
3    117
4    173
5     28
Name: venueId, dtype: int64

In [28]:
# Join on user id and now you have userid number of checkins in that time interval and 
# a column that shows their total checkins.
test_df = pd.merge(test.reset_index(), test2.reset_index(), on=['userId']).rename(columns={'venueId_x': 'reg_time_visits', 'venueId_y': 'total_visits'})
test_df.head()

# Make room for memory
del test, test2

In [29]:
# Get the probability that user will be at region at time interval.
test_df['probability'] = test_df['reg_time_visits']/test_df['total_visits']
test_df.head()

,borough,utcTimestamp,userId,reg_time_visits,total_visits,probability
0,bronx,2012-04-03 18:00:00,267,3,497,0.006036
1,bronx,2012-04-04 03:00:00,267,3,497,0.006036
2,bronx,2012-04-04 12:00:00,267,2,497,0.004024
3,bronx,2012-04-05 12:00:00,267,2,497,0.004024
4,bronx,2012-04-07 18:00:00,267,4,497,0.008048

In [30]:
test_df['used_for_visitor_entropy'] = [-x*np.log2(x) for x in test_df['probability']]
test_df.head()

,borough,utcTimestamp,userId,reg_time_visits,total_visits,probability,used_for_visitor_entropy
0,bronx,2012-04-03 18:00:00,267,3,497,0.006036,0.044500
1,bronx,2012-04-04 03:00:00,267,3,497,0.006036,0.044500
2,bronx,2012-04-04 12:00:00,267,2,497,0.004024,0.032021
3,bronx,2012-04-05 12:00:00,267,2,497,0.004024,0.032021
4,bronx,2012-04-07 18:00:00,267,4,497,0.008048,0.055993

In [31]:
# Sum all the individual user entropys for region r and time interval t.
visitor_entropy = test_df.groupby(['borough', 'utcTimestamp'])['used_for_visitor_entropy'].sum().unstack(level=0)

# Make room for memory
del test_df

print('Number of time intervals: ', visitor_entropy.shape[0])
visitor_entropy.head()

Number of time intervals:  1593

borough                 bronx  brooklyn  manhatten    queens  staten_island
utcTimestamp
2012-04-03 18:00:00  0.425683  0.961257   4.793225  0.882073       0.041809
2012-04-03 21:00:00  0.388097  1.847471   8.960947  1.217148       0.163509
2012-04-04 00:00:00  0.607095  1.332356   6.275626  0.628272       0.201799
2012-04-04 03:00:00  0.127713  0.883753   1.768109  0.646126       0.048713
2012-04-04 06:00:00  0.112601  0.434975   0.337310  0.231435       0.028287

## Region Popularity: Assess popularity of region r at time interval t.

In [52]:
# Count how many total checkins at all time intervals 
all_checkins_at_time = df.groupby(pd.TimeGrouper(key='utcTimestamp', freq='3H'))['userId'].count()

# Divide regions checkins at time interval by total checkins at that time interval.
region_popularity = obs_freq.apply(lambda x: x/all_checkins_at_time)
all_checkins_at_time

utcTimestamp
2012-04-03 18:00:00    204
2012-04-03 21:00:00    344
2012-04-04 00:00:00    250
2012-04-04 03:00:00    116
2012-04-04 06:00:00     49
2012-04-04 09:00:00    112
2012-04-04 12:00:00    332
2012-04-04 15:00:00    250
2012-04-04 18:00:00    169
2012-04-04 21:00:00    188
2012-04-05 00:00:00     49
2012-04-05 03:00:00      0
2012-04-05 06:00:00     24
2012-04-05 09:00:00     97
2012-04-05 12:00:00     22
2012-04-05 15:00:00      0
2012-04-05 18:00:00      0
2012-04-05 21:00:00      0
2012-04-06 00:00:00      0
2012-04-06 03:00:00      0
2012-04-06 06:00:00      0
2012-04-06 09:00:00      0
2012-04-06 12:00:00    201
2012-04-06 15:00:00    126
2012-04-06 18:00:00      0
2012-04-06 21:00:00      0
2012-04-07 00:00:00     19
2012-04-07 03:00:00      0
2012-04-07 06:00:00      0
2012-04-07 09:00:00      0
                      ...
2013-02-12 09:00:00     38
2013-02-12 12:00:00     92
2013-02-12 15:00:00     88
2013-02-12 18:00:00     86
2013-02-12 21:00:00     93
2013-02-13 00:00:00    116
2013-02-13 03:00:00     53
2013-02-13 06:00:00     32
2013-02-13 09:00:00     52
2013-02-13 12:00:00    114
2013-02-13 15:00:00     75
2013-02-13 18:00:00     65
2013-02-13 21:00:00    120
2013-02-14 00:00:00    115
2013-02-14 03:00:00     54
2013-02-14 06:00:00     11
2013-02-14 09:00:00     30
2013-02-14 12:00:00      9
2013-02-14 15:00:00      0
2013-02-14 18:00:00      0
2013-02-14 21:00:00      0
2013-02-15 00:00:00      0
2013-02-15 03:00:00      0
2013-02-15 06:00:00      0
2013-02-15 09:00:00      0
2013-02-15 12:00:00      0
2013-02-15 15:00:00      0
2013-02-15 18:00:00      0
2013-02-15 21:00:00      0
2013-02-16 00:00:00     39
Freq: 3H, Name: userId, Length: 2547, dtype: int64

## Visitor Ratio:

To group, count, and regroup, order by descending and take top 4


https://stackoverflow.com/questions/27842613/pandas-groupby-sort-within-groups

In [ ]:
a = df.groupby('userId').count()
a[a.venueId==1]
# user_top_venues.reset_index()

In [ ]:
# Groupby 'userId' and 'venueId'. Count to see how many times a user checked in that venueId. This will make a series.
user_venue_count = df.groupby(['userId', 'venueId']).count().iloc[:,-1]

In [ ]:
# Now that you have the count for venue checkins by each user you will re-group by 'userId' and apply a function 
# to each 'userId' grouping (sort descending and keep top 4) to get back the top 4 visited venues for that user.
user_grouping = user_venue_count.groupby(level=0, group_keys=False)  # When calling apply, add group keys to index to identify pieces
user_top_venues = user_grouping.apply(lambda x: x.sort_values(ascending=False).head(4))

In [ ]:
# Create a reference venue borough df so you can merge the borough to the 'venueId' to the user_top_venues df.
ven_borough_df = df.loc[:,['venueId', 'borough']].drop_duplicates()

In [ ]:
test = pd.merge(user_top_venues.reset_index(), ven_borough_df.reset_index(), on=['venueId'], how='left')

In [ ]:
import shapefile
from shapely.geometry import shape, Point
# To install shapely
# https://gis.stackexchange.com/questions/38899/geos-and-shapely-installation-on-windows/132743#132743
# Download wheel file for the version of python that you use.
# https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely
# cd into the location of the wheel file
# pip install wheel
# pip install name_of_wheel_file.whl

# read fileshape
r = shapefile.Reader(r"C:\Users\P\OneDrive\securitas-assignment\nyu_2451_34510\nyu_2451_34510.shp")

# get the shapes
shapes = r.shapes()


# https://stackoverflow.com/questions/7861196/check-if-a-geopoint-with-latitude-and-longitude-is-within-a-shapefile
# build a shapely poolygon from your shape
p1 = shape(shapes[0])
p2 = shape(shapes[1])
p3 = shape(shapes[2])
p4 = shape(shapes[3])
p5 = shape(shapes[4])

test  = fs['longitude'][0], fs['latitude'][0]
point = Point(test)
print(point)

In [ ]:
visitor_ratio = generate_data()
region_populatiry = generate_data()
visitor_entropy = generate_data()
visitor_homogen = generate_data()
obser_freq = generate_data()
visitor_count= generate_data()

In [ ]:
visitor_count

In [ ]:
def generate_data():
    data=np.random.randint(0, 200, (2000, 1))
    data[(data<160) & (40<data)]=0
    return data